.element__like {
  background: no-repeat url(../../../images/like.svg);
  border: none;
  width: 22px;
  height: 19px;
  align-self: center;
  margin: 0 0 3px 9px;
  transition: opacity 0.3s ease-in-out;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
