.element__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  width: 22px;
  height: 19px;
  align-self: center;
  margin: 0 0 3px 9px;
  transition: opacity .3s linear ease-in-out;
}

.element__like:hover {
  cursor: pointer;
  opacity: .5;
}
