.element__delete {
  /*background-image: url(../../../images/Group.svg);*/
  /*background-repeat: no-repeat;*/
  background-color: unset;
  background: url("../../../images/Group.svg");
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  width: 18px;
  height: 20px;
  align-self: center;
  transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.element__delete:hover {
  cursor: pointer;
  opacity: 0.5;
}
