.popup__error {
  width: 358px;
  height: 29px;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  text-align: left;
  align-self: flex-start;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 768px) {
  .popup__error {
    width: 238px;
  }
}

.popup__button_disabled {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #ffffff;
  color: #000000;
  opacity: .2;
}

.popup__save_disabled:hover {
  opacity: .2;
}

.popup__input_type-error {
  border-bottom: 1px solid #FF0000;
}
