.popup__container {
  max-width: 430px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  margin: auto;
  z-index: 3;
}

@media screen and (max-width: 580px) {
  .popup__container {
    width: 282px;
  }
}
