@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__info-name/pofile__info-name.css);
@import url(./profile__button-edit/profile__button-edit.css);
@import url(./__info-occupation/pofile__info-occupation.css);
@import url(./__button-add/profile__button-add.css);

.profile {
  max-width: 882px;
  display: flex;
  flex-direction: row;
  margin: 40px auto 0 auto;
}


