.profile__edit {
  background-image: url(../../../images/edit-button-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  left: 245px;
  transition: opacity .3s ease-in-out;
}

.profile__edit:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (min-width: 680px) {
  .profile__edit {
    background-image: url(../../../images/edit-button-desktop.png);
    width: 24px;
    height: 24px;
    top: 15px;
    left: 312px;
  }
}
