.header__logo {
  background-image: url(../../../images/logo.png);
  background-size: cover;
  width: 143px;
  height: 34px;
}

@media (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
  }
}


@media (max-width: 320px) {
  .header__logo {
    width: 104px;
    height: 25px;
  }
}
