.header__logo {
  background-image: url(../../../images/logo-mobile.png);
  background-repeat: no-repeat;
  width: 104px;
  height: 25px;
  margin: 0 0 0 27px;
  padding-bottom: 27px;
}

@media screen and (min-width: 680px) {
  .header__logo {
    background-image: url(../../../images/logo-desktop.png);
    width: 142px;
    height: 33px;
    margin: 0 0 10px 0;
  }
}
