.element__liked {
  background-image: url(../../../images/liked.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  width: 22px;
  height: 19px;
  align-self: center;
  margin: 0 0 3px 9px;
}
