@import url(./__logo/header__logo.css);

.header {
  max-width: 882px;
  display: flex;
  flex-direction: column;
  margin: 45px auto 0 auto;
}

.header::after {
  content: "";
  margin-top: 40.6px;
  opacity: 0.7;
  border: 1px solid #545454;
}
