.profile__edit {
  background-image: url(../../../images/edit-button-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: static;
  top: 9px;
  left: 198px;
  transition: opacity 0.3s ease-in-out;
  margin: 10px 0 0 37px;
  grid-area: button;
}

.profile__edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 680px) {
  .profile__edit {
    background-image: url(../../../images/edit-button-desktop.svg);
    width: 24px;
    height: 24px;
    position: static;
    margin: 2px 0 0 18px;
  }
}
