.profile__add-button {
  background-image: url(../../../images/add-button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border: 2px solid #fff;
  width: 282px;
  height: 50px;
  margin: 32px auto 0 auto;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 680px) {
  .profile__add-button {
    width: 150px;
    height: 50px;
    margin: 0 0 0 auto;
  }
}
