.elements {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

@media screen and (min-width: 580px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 918px) {
  .elements {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    max-width: 880px;
  }
}
