.popup__error {
  width: 358px;
  height: 29px;
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0 34px;
}

@media screen and (max-width: 580px) {
  .popup__error {
    width: 238px;
    margin: 5px 0 0 22px;
  }
}
