.pofile__info-occupation {
  max-width: 293px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 16px 0 0 0;
}
