.profile__button-edit {
  width: 24px;
  height: 24px;
  background: none;
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  transition: opacity .3s ease-in-out;
  margin: 19px 0 0 auto;
}

@media (max-width: 360px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin: auto 0 0 0;
  }
}

.profile__button-edit:hover {
  cursor: pointer;
  opacity: .6;
}

