.popup__close-button {
  background: none;
  background-image: url(../../../images/close-button.png);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  position: relative;
  top: -3px;
  left: 438px;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 580px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    background-size: 20px, 20px;
    top: -14px;
    left: 262px;
  }
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
