.element__delete {
  background: no-repeat url("../../../images/Group.svg");
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  width: 18px;
  height: 20px;
  align-self: center;
  transition: opacity 0.3s ease-in-out;
}

.element__delete:hover {
  cursor: pointer;
  opacity: 0.5;
}
