.pofile__info-name {
  max-width: 293px;
  font-weight: 500;
  font-size: 42px;
  line-height: 133%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-basis: 90%;
  margin: 0;
}

@media (max-width: 360px) {
  .pofile__info-name {
    width: 201px;
    flex-basis: 80%;
    font-size: 27px;
    line-height: 207%;
  }
}


