.pofile__info {
  max-width: 336px;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 0 auto 0;
}

@media (max-width: 659px) {
  .pofile__info {
    margin: 11px auto 36px auto;
  }
}

@media (max-width: 659px) {
  .pofile__info {
    margin: 11px auto 36px auto;
  }
}

@media (max-width: 360px) {
  .pofile__info {
    justify-content: center;
    max-width: 280px;
  }
}
