.element__thrashcan-opened {

  width: 19px;
  height: 19px;
  position: absolute;
  right: 17px;
  top: 24px;
  background: none;
  background-image: url(../../../images/thras-opened.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19px 19px;
  border: none;
  cursor: pointer;
}
.element__thrashcan-opened:hover {

}
