@import url(__copyright/footer__copyright.css);
.footer {
  display: flex;
  max-width: 882px;
  margin: 66px auto 60px auto;
}

@media (max-width: 882px) {
  .footer {
    margin: 48px 19px 36px 19px;
  }
}
