.element__button-like {
  width: 21px;
  height: 19px;
  background: none;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 19px;
  border: none;
  margin: 31px 22px 0 auto;
}

.element__button-like:hover {
  cursor: pointer;
  opacity: .6;
}
